
numpy~=1.23.5
matplotlib~=3.6.3
seaborn~=0.12.2
scikit-learn~=1.2.0
torch~=1.13.1
pandas~=1.5.2
statsmodels~=0.13.5
nibabel~=5.0.0
nilearn
boruta~=0.3
git+https://github.com/manu-mannattil/nolitsa.git
Cython==0.29.33
git+https://github.com/pik-copan/pyunicorn.git
mne
holoviews
bokeh
wget~=3.2
xgboost~=1.7.3